h1 {
    font-family: courier;
    color: Gray;
    border: solid 2px;
    border-radius: 5px;
    padding-left: 2px;
    width: 200px;
    background-color: #F5E9DE;
    text-align: center;
   }
   
   .naast_elkaar {
    display: inline;
   }
   
   
   .leeg {
    text-align: center;
    color: gray;
    font-size: 200px;
   }

   img {
    width: 25%;
    border: solid 2px;
    border-radius: 10px;
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #a79e9e;
  }