body {
  background-color: white;
 }
 
 .resize {
  width: 200px;
  height: auto;
  display: inline;
 }
 
 p {
  color: white;
 }
 
 h1 {
  font-family: courier;
  color: Gray;
  border: solid 2px;
  border-radius: 5px;
  padding-left: 2px;
  width: 200px;
  background-color: #F5E9DE;
  text-align: center;
 }
 
 .navcontainer {
  display: flex;
  flex-basis: 100%;
  background-color: gray;
  padding: 12px;
 }
 
 .navitem {
  flex-basis: 25%;
  color: white;
  margin-right: 20px;
 }
 
 .item {
  text-decoration: none;
  color: white;
  font-family: arial;
  padding: 12px;
  width: 100px;
 }
 
 .active {
 border:  white;
 border-radius: 1px;
 background-color: #201519;
 }
 
 input {
  border: solid 2px;
  border-radius: 1px;
 }

 .sub {
  text-decoration: none;
  border: red solid;
  border-radius: 5px;
  color: white;
  background-color: red;
}